/UBG2/Terminkalender/nbproject/private/
/UBG2/Terminkalender/build/
/UBG_3/Taschenrechner/nbproject/private/
/UBG_3/Taschenrechner/build/
/UBG4/TerminkalenderFX/nbproject/private/
/UBG4/TerminkalenderFX/build/
/UBG4/TerminkalenderFX/dist/
*.pdf
/UBG_6/TerminkalenderFX/build/
/UBG_6/TerminkalenderFX/dist/
/UBG_6/TerminkalenderFX/nbproject/private/